@font-face {
  font-family: "GMV DIN Pro";
  src: url("./fonts/GMV_DIN_Pro-Light.ttf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "GMV DIN Pro";
  src: url("./fonts/GMV_DIN_Pro-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "GMV DIN Pro";
  src: url("./fonts/GMV_DIN_Pro-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "GMV DIN Pro";
  src: url("./fonts/GMV_DIN_Pro-Black.ttf");
  font-weight: 900;
  font-style: bold;
  font-display: swap;
}
@font-face {
  font-family: "GMV DIN Pro";
  src: url("./fonts/GMV_DIN_Pro.ttf");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
